body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
}
.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header {
    background-color: #e6f1ef;
    color: black;
    padding: 30px;
    text-align: center;
}
.header img {
    border-radius: 50%;
    width: 420px;
    height: 420px;
    margin-bottom: 20px;
    filter: grayscale(80%);
    margin-left: -50%;
    margin-top: 0%;
}
.header h1 {
    margin: 0;
    font-size: 2.5em;
    margin-top: -30%;
    margin-left: 30%;
}
.header h3 {
    margin: 10px 0;
    font-size: 1.3em;
    margin-left: 20%;
}
.header p{text-align: justify;
width: 50%;
margin-left: 50%;}
.contact-info {
    text-align: center;
    margin: 20px 0;
    border-top: 1px dotted black;
}
.contact-info p {
    margin: 5px 0;
}
#p1{margin-top: 10%;
text-align: start;}
#p2{margin-top: -2%;
text-align: center;}
#p3{margin-top:-2%;
text-align: end;}

.footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: #777;
}
.circle {
    width: 150px;
    height: 150px;
    background-color: #db3934;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-left: 50%;
}
.circle2 {
    width: 150px;
    height: 150px;
    background-color: #db7734;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-left: 67%;
    margin-top: -15%;
}
.circle3 {
    width: 150px;
    height: 150px;
    background-color: #dbb434;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-left: 85%;
    margin-top: -15%;
}
@media only screen and (max-width: 500px) {
    .header img{width: 50%;
    height: 50%;}
    .header h1{font-size: 100%;
    margin-top: 10%;}
    .header h3{margin-left: 0%;}
    .header p{text-align: justify;
    width: 100%;
margin-left: 0%;}
.circle{margin-left: -10%;}
.circle2{margin-left: -10%;}
.circle3{margin-left: -10%;}
#p1{text-align: center;}
}
